<plugin name='extjscrud' version='0.3' grailsVersion='1.3.7 &gt; *'>
  <author>Sudha Naidu Annarapu</author>
  <authorEmail>sudha@multi-support.dk</authorEmail>
  <title>Grails Extjs4 CRUD Plugin</title>
  <description>\
This Application creates CRUD functionality using Grails 1.3.7 and Extjs 4.0. The communication between the Extjs 4.0 and Grails is JSON communication.
The plugin supports all primitive data types, like int, float, double, date, boolean and String.
</description>
  <documentation>http://grails.org/plugin/extjscrud</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>MessageController</resource>
  </resources>
  <dependencies>
    <plugin name='jawr' version='3.3.3 &gt; *' />
  </dependencies>
  <behavior />
</plugin>